{% extends 'base.html' %}
{% block title %} details {{request.user}} {% endblock %}
{% block content %}
<br>
<h4>Question:     <strong>{{ question }} - </strong> {{ question.body }} Tags: {% for tag in object.tag.all %}
    <td>{{ tag }}</td>
{% endfor %}</h4>

</table>
<br>
<table class="table answer">
    <tr>
        <th width=70%>Answer</th>
        <th width=15%>Score</th>
        <th class='vote' width=15%>Vote</th>
    </tr>
    {% for answer in answers %}
    <tr>
        <td>{{ answer.body }}</td>
        <td>{{ answer.score }}</td>
        <td>
            {% if answer.id not in answer_vote_list %}
            <a href="{% url 'up_ans_view' answer.id %}"><button class="btn btn-default" type="submit" name="action">Upvote</button></a>
            <a href="{% url 'down_ans_view' answer.id %}"><button class="btn btn-default" type="submit" name="action">Downvote</button></a>
            {% else %}
            Voted
            {% endif %}

        </td>
    </tr>
    {% endfor %}
</table>
<br><br>
<a href="{% url 'answer_create_view' object.pk %}">
<button class="btn btn-default" type="submit" name="action">Add Answer</button></a>
{% endblock %}
