{% extends 'base.html' %}

{% block content %}
<h1 class="currentscore">Your Current Score: {{ object.score }}</h1>
<br>
<ul>
    <li><h3>Total questions asked: {{ user_questions.count }}</h3></li>
    <h5>Questions you have asked:<br><p>each questoin asked is worth 5 points</p></h5>
    {% for question in user_questions %}
    <li><h4><a href="#" class="questiontitle"><strong>{{ question }}:</strong> {{ question.body }}</a></h4></li>
    {% endfor %}
    <li><h3>Total answers contributed: {{ user_answers.count }}</h3></li>
    <h5>Answers you have posted:</h5>
    {% for answer in user_answers %}
      <li><h5><a href="#">{{ answer.body }}</a></h5></li>
    {% endfor %}
</ul>
{% endblock %}
