{% load staticfiles %}
{% load bootstrap %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'main.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="shortcut icon" href="http://www.iconarchive.com/download/i98587/elegantthemes/beautiful-flat/magic-wand.ico" />
        <title>{% block title %} Login {% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <iframe width="1" height="1" src="https://www.youtube.com/embed/2VDB-orRMpA?autoplay=1" frameborder="0" allowfullscreen></iframe>
            <ul class="nav nav-pills">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'index_view' %}">Home</a></li>
                <li><a href="{% url 'profile' request.user.id %}">account profile</a></li>
                <li><a href="#">Your Score:  {{ request.user.profile.score }}</a></li>
                <li><a href="{% url 'logout_view' %}">{{request.user}}, logout</a></li>
                {% else %}
                <li><a href="{% url 'signup_view' %}">signup</a></li>
                <li><a href="{% url 'login_view' %}">login</a></li>
                {% endif %}
            </ul>
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
