{% extends 'base.html' %}
{% block title %} Welcome Wizard {% endblock %}
{% block content %}
<h1>welcome wizard {{request.user}}</h1>
<br>
{% if request.user.is_authenticated %}
<a href="{% url 'post_question' %}" class="apipost">Post Question with API</a>
<h2>Top five posts:</h2>
<h2><a href="{% url 'question_create_view' %}">ask a question</a></h2>
<ul>
{% for question in questions %}
<li><h4><a href="#" class="questiontitle">Question:     <strong>{{ question }}:</strong> {{ question.body }}</a></h4>
        <ul>
            {% for answer in question.answer_set.all %}
                <li><h5><a href="#">Answer:     {{ answer }}</a></h5></li>

            {% endfor %}
            <li><a href="{% url 'post_answer' %}"class="apipost">Answer with API</a></li>
        </ul>
    </li>
{% endfor %}
</ul>
{% else %}
<br>
<h3>Login or Signup to check out the World of Harry Potter</h3>
{% endif %}



{% endblock %}
